<% productos.forEach(producto => {%>

    <article class="product">
        <a href="/products/<%= producto.id %>/eventsDetails" class="product-link-detail">
            <div class="product-img">
                <img src=<%= producto.image %> alt="Error">
            </div>
            <div class="product-info">
                <div class="information-product">
                    <h2><%= producto.name %></h2>
                    <p class="date"><%= producto.date %></p>
                    <p class="place"><%= producto.location %></p>
                </div>
                <div class="price-buy">
                    <div class="price">
                        <p>Desde $<%= producto.dataValues.tickets[0].price %></p>
                    </div>
                    <div class="buy">
                        <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
                    </div>
                </div>
            </div>
            <% if (producto.sold_out === 1) {%>
            <p class="tickets-agotados">Agotado</p>
            <% } %>
            <% if (producto.deleted === 1) {%>
                <div class="producto-eliminado"></div>
            <% } %>
        </a>
    </article> 

<% }) %>