<% include('../../utils/dateUtils') %>

    <% const categorias=[
        { name: 'Recitales' , title: 'Recitales' },
        { name: 'Stand Up' , title: 'Stand Up' }, 
        { name: 'Deportes' , title: 'Deportes' }, 
        { name: 'Obras de teatro' , title: 'Obras de teatro' }, 
        { name: 'Conferencias' , title: 'Conferencias' } 
    ]; %>

<% if(error.message) {%>
    <h3><%= error.message %></h3>
<% } else {%>
        <% categorias.forEach(categoria=> {
            if (products.some(product => product.categories.name === categoria.name)) {
            %>
            <h2 style="text-align: center">
                <%= categoria.title %>
            </h2>
            <section class="products">
                <% products.forEach(product=> {
                    if (product.categories.name === categoria.name) {
                    %>
                    <article class="product">
                        <a href="/products/<%= product.id %>/eventsDetails" class="product-link-detail">
                            <div class="product-img">
                                <img src="<%= product.image %>" alt="Error">
                            </div>
                            <div class="product-info">
                                <div class="information-product">
                                    <h2>
                                        <%= product.name %>
                                    </h2>
                                    <p class="date">
                                        <%= formateDate(product.date) %>
                                    </p>
                                    <p class="place">
                                        <%= product.location %>
                                    </p>
                                </div>
                                <div class="price-buy">
                                    <div class="price">
                                        <p>Desde $<%= product.tickets.sort((a, b)=> a.price - b.price)[0].price %></p>
                                    </div>
                                    <div class="buy">
                                        <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
                                    </div>
                                </div>
                            </div>
                            <% if (product.sold_out===1) { %>
                                <p class="tickets-agotados">Agotado</p>
                                <% } %>
                                    <% if (product.deleted===1) { %>
                                        <div class="producto-eliminado"></div>
                                        <% } %>
                        </a>
                    </article>
                    <% } }); %>
            </section>
            <% } }); %>
<% } %>