<% include('../../utils/dateUtils') %>

<% if(searchedProduct) {%>
<div class="articulos">
    <div class="carrito-img">
      <img src=<%= searchedProduct.image %>>
    </div>
    <div class="info">
      <h3 class="carrito-titulo"><%= searchedProduct.name %></h3>
      <h3 class="carrito-fecha"><%= formateDate(searchedProduct.date) %></h3>
      <h3 class="carrito-lugar"><%= searchedProduct.location %></h3>
      <h3></h3>
      <div class="precio">
        <p>$ <%=searchedProduct.price%></p>
        <article class="carrito-btn">
        <button class="flecha-arriba">
          <i class="fa-solid fa-arrow-up"></i>
        </button>
        <button class="flecha-abajo">
          <i class="fa-solid fa-arrow-down"></i>
        </button>
        <button>
          <i class="fa-regular fa-trash-can"></i>
        </button>
      </div>
      </article>
    </div>
  </div>
  <% } %>