<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main class="main-home">
    <%- include('../partials/banner') %>

    <form action="/search/home" method="GET" class="search-home" name="navBar">
      <%- include('../partials/navBar') %>
    </form>

        <section class="products">
          <!-- <h1><%#= userData.nombreRegForm %></h1> -->

          <%- include('../partials/partialEvents') %>

        </section>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>