<!DOCTYPE html>
<html lang="en">

<head>
<%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main class="main-home">

    <%- include('../partials/banner') %>

    <%- include('../partials/barraNavegacion') %>
    
    <section class="products">
      
      <%- include('../partials/eventosParcial') %>

    </section>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>