<!DOCTYPE html>
<html lang="en">

<head>
<%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main class="main-home">

    <%- include('../partials/banner') %>

    <%- include('../partials/barraNavegacion') %>
    
    <section class="products">
      <article class="product">
        <a href="./products/detalleEventos" class="product-link-detail">
        <div class="product-img">
          <img src="img/amelie-lens-farrago-maderoboardwalk-160560-img.jpeg" alt="">
        </div>
        <div class="product-info">
          <div class="information-product">
            <h2>Amelie Lens</h2>
              <p class="date">1 de junio - 22 horas</p>
              <p class="place">Boliche Jet Costanera</p>
          </div>
          <div class="price-buy">
            <div class="price">
              <p>Desde $3000</p>
            </div>
            <div class="buy">
              <form action="/">
                <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
              </form>
            </div>
          </div>
        </div>
        <p class="tickets-agotados">Agotado</p>
      </a>
      </article>
      <article class="product">
      <a href="./products/detalleEventos" class="product-link-detail">
        <div class="product-img">
          <img src="img/babasonicos-en-lanus-img.jpeg" alt="">
        </div>
        <div class="product-info">
          <div class="information-product">
            <h2>Babasonicos</h2>
              <p class="date">26 de mayo - 21 horas</p>
              <p class="place">Microestadio Lanus</p>
          </div>
          <div class="price-buy">
            <div class="price">
              <p>Desde $3500</p>
            </div>
            <div class="buy">
              <form action="/home.html">
                <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
              </form>
            </div>
          </div>
        </div>
      </a>
      </article>
      <article class="product">
        <a href="./products/detalleEventos" class="product-link-detail">
        <div class="product-img">
          <img src="img/peces-raros-2da-funcion-158913-img.jpeg" alt="">
        </div>
        <div class="product-info">
          <div class="information-product">
            <h2>Peces Raros</h2>
              <p class="date">6 de mayo - 20 horas</p>
              <p class="place">Complejo Art Media</p>
          </div>
          <div class="price-buy">
            <div class="price">
              <p>Desde $2000</p>
            </div>
            <div class="buy">
              <form action="/home.html">
                <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
              </form>
            </div>
          </div>
        </div>
      </a>
      </article>
      <article class="product">
        <a href="./products/detalleEventos" class="product-link-detail">
        <div class="product-img">
          <img src="img/la-kermesse-en-ballester-img.jpeg" alt="">
        </div>
        <div class="product-info">
          <div class="information-product">
            <h2>La Kermesse</h2>
              <p class="date">15 de abril - 22 horas</p>
              <p class="place">Club Aleman Ballester</p>
          </div>
          <div class="price-buy">
            <div class="price">
              <p>Desde $1500</p>
            </div>
            <div class="buy">
              <form action="/home.html">
                <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
              </form>
            </div>
          </div>
        </div>
        </a>
      </article>
      <article class="product">
        <a href="./products/detalleEventos" class="product-link-detail">
        <div class="product-img">
          <img src="img/tan-bionica.jpg" alt="">
        </div>
        <div class="product-info">
          <div class="information-product">
            <h2>Tan Biónica</h2>
              <p class="date">28 de octubre - 22 horas</p>
              <p class="place">Estadio Vélez Sarsfield</p>
          </div>
          <div class="price-buy">
            <div class="price">
              <p>Desde $12000</p>
            </div>
            <div class="buy">
              <form action="/home.html">
                <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
              </form>
            </div>
          </div>
        </div>
        <!-- <p class="tickets-agotados">Agotado</p> -->
      </a>
      </article>
      <article class="product">
        <a href="./products/detalleEventos" class="product-link-detail">
        <div class="product-img">
          <img src="img/babasonicos-en-lanus-img.jpeg" alt="">
        </div>
        <div class="product-info">
          <div class="information-product">
            <h2>Babasonicos</h2>
              <p class="date">26 de mayo - 21 horas</p>
              <p class="place">Microestadio Lanus</p>
          </div>
          <div class="price-buy">
            <div class="price">
              <p>Desde $3500</p>
            </div>
            <div class="buy">
              <form action="/.html">
                <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
              </form>
            </div>
          </div>
        </div>
      </a>
      </article>
      <article class="product">
        <a href="./products/detalleEventos" class="product-link-detail">
        <div class="product-img">
          <img src="img/peces-raros-2da-funcion-158913-img.jpeg" alt="">
        </div>
        <div class="product-info">
          <div class="information-product">
            <h2>Peces Raros</h2>
              <p class="date">6 de mayo - 20 horas</p>
              <p class="place">Complejo Art Media</p>
          </div>
          <div class="price-buy">
            <div class="price">
              <p>Desde $2000</p>
            </div>
            <div class="buy">
              <form action="/home.html">
                <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
              </form>
            </div>
          </div>
        </div>
      </a>
      </article>
      <article class="product">
        <a href="./products/detalleEventos" class="product-link-detail">
        <div class="product-img">
          <img src="img/la-kermesse-en-ballester-img.jpeg" alt="">
        </div>
        <div class="product-info">
          <div class="information-product">
            <h2>La Kermesse</h2>
              <p class="date">15 de abril - 22 horas</p>
              <p class="place">Club Aleman Ballester</p>
          </div>
          <div class="price-buy">
            <div class="price">
              <p>Desde $1500</p>
            </div>
            <div class="buy">
              <form action="/home.html">
                <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
              </form>
            </div>
          </div>
        </div>
      </a>
      </article>
    </section>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>