<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main>
    <form action="#" method="GET" class="search-home">
      <input type="text" placeholder="Buscar envento en Eventicket..." class="search-bar">
      <input type="submit" value="Buscar" class="search-btn">
    </form>
    <div class="container-carrito">
      <h1>Eventos Seleccionados</h1>
      <div class="container-articulo-metodos-de-pago">
        <div class="articulos-container">
          <div class="articulos">
            <div class="carrito-img">
              <img src="/../<%= eventoCarrito.img %>">
            </div>
            <div class="info">
              <h3 class="carrito-titulo">Entradas para ver a "<%= eventoCarrito.name %>"</h3>
              <div class="precio">
                <p>$<%= eventoCarrito.price %></p>
              </div>
              <article class="carrito-btn">
                <button class="flecha-arriba">
                  <i class="fa-solid fa-arrow-up"></i>
                </button>
                <button class="flecha-abajo">
                  <i class="fa-solid fa-arrow-down"></i>
                </button>
                <button>
                  <i class="fa-regular fa-trash-can"></i>
                </button>
              </article>
            </div>
          </div>
        </div>
        <div class="seleccionar-metodo">
          <h3>Seleccione un método de pago</h3>
          <div class="metodo-de-pagos">
            <img src="/../../img/VISA-Logo.png" alt="Visa">
            <img class="mastercard" src="/../../img/mastercard.png" alt="Mastercard">
            <img src="/../../img/PAYPAL.jpg" alt="Paypal">
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="botones-container">
      <button class="eliminar-productos">
        Eliminar todo
      </button>
      <button class="finalizar-compra">
        Finalizar Compra
      </button>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>

</body>

</html>