<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"
  integrity="sha512-X/RSQYxFb/tvuz6aNRTfKXDnQzmnzoawgEQ4X8nZNftzs8KFFH23p/BA6D2k0QCM4R0sY1DEy9MIY9b3fwi+bg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css"
  integrity="sha512-f28cvdA4Bq3dC9X9wNmSx21rjWI+5piIW/uoc2LuQ67asKxfQjUow2MkcCNcfJiaLrHcGbed1wzYe3dlY4w9gA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main>
    <div class="container-carrito">
      <% if (productoBuscado) {%>
      <h1>Eventos Seleccionados</h1>
      <% } else {%>
        <h1>No hay eventos seleccionados</h1>
        <h3 style="text-align: center;">Recomendaciones del mes</h3>
        <section class="products" style="height: 50vh;">
          <%- include('../partials/partialEventsFilterMonth') %>        

      </section>
      <% } %>
      <div class="container-articulo-metodos-de-pago">
        <div class="articulos-container">
          
          <%- include('../partials/productCart') %>

          
        </div>
        <% if (productoBuscado) {%>
        <div class="seleccionar-metodo">
          <h3>Seleccione un método de pago</h3>
          <div class="metodo-de-pagos">
            <img src="../img/VISA-Logo.png" alt="Visa">
            <img class="mastercard" src="../img/mastercard.png" alt="Mastercard">
            <img src="../img/PAYPAL.jpg" alt="Paypal">
          </div>
        </div>
        
      </div>
    </div>
    </div>
    <div class="botones-container">
      <button class="eliminar-productos">
        Eliminar todo
      </button>
      <button class="finalizar-compra">
        Finalizar Compra
      </button>
    </div>
    <% } %>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"
        integrity="sha512-9CWGXFSJ+/X0LWzSRCZFsOPhSfm6jbnL+Mpqo0o8Ke2SYr8rCTqb4/wGm+9n13HtDE1NQpAEOrMecDZw4FXQGg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script>
          $(document).ready(function () {
              $(".owl-carousel").owlCarousel({
                  loop: true,
                  margin: 5,
                  autoPlay: true,
                  autoPlayTimeout: 1000, // Ajusta el tiempo de espera entre diapositivas
                  // responsive: {
                  //     0: {
                  //         items: 1
                  //     },
                  //     600: {
                  //         items: 4
                  //     },
                  //     1000: {
                  //         items: 5
                  //     }
                  // }
              });
          });
      </script>

</body>

</html>