<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles_productos.css" />
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>

  <%- include('../partials/banner') %>

    <%- include('../partials/barraNavegacion') %>

      <article class="evento">

        <section class="caja-titulo-ubicacion">
          <div class="caja-titulo">

            <h2 class="titulo-evento">Amelie lens & Farrago @Maderoboardwalk (+18)</h2>
            <h3 class="fecha-evento"><i class="fa-regular fa-calendar-days"></i> Jueves 04 de Mayo 2023 - 20:00 hrs.
            </h3>

            <a href="edicionEventos">
              <button class="btn-editar-eventos">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </a>

          </div>

          <div class="caja-ubicacion">




            <div class="descripcion-caja-ubicacion">
              <h3 class="titulo-ubicacion"><i class="fa-solid fa-location-dot"></i> MADERO BOARDWALK</h3>
              <h4 class="descripcion-ubicacion">Cecilia greison 322 - Puerto Madero</h4>
            </div>
          </div>

        </section>

        <section class="tickets-imagen">
          <div class="caja-tickets">

            <div class="titulos-tabla">

              <h4 class="ticket-titulo-tabla"> Ticket</h4>
              <h4>Valor</h4>
              <h4>Cantidad</h4>

            </div>

            <div class="tickets">

              <div class="linea-ticket">
                <p>Preventa VIP Standing</p>
                <p class="precio-ticket-p">$ 18,500</p>
                <select class="caja-cantidad">
                  <option value="0" name="0"> 0 </option>
                  <option value="1" name="1"> 1 </option>
                  <option value="2" name="2"> 2 </option>
                  <option value="3" name="3"> 3 </option>
                  <option value="4" name="4"> 4 </option>
                  <option value="5" name="5"> 5 </option>
                  <option value="6" name="6"> 6 </option>
                  <option value="7" name="7"> 7 </option>

                </select>


              </div>
              <div class="linea-ticket">
                <p>Preventa VIP Standing</p>
                <p class="precio-ticket-p">$ 18,500</p>
                <select class="caja-cantidad">
                  <option value="0" name="0"> 0 </option>
                  <option value="1" name="1"> 1 </option>
                  <option value="2" name="2"> 2 </option>
                  <option value="3" name="3"> 3 </option>
                  <option value="4" name="4"> 4 </option>
                  <option value="5" name="5"> 5 </option>
                  <option value="6" name="6"> 6 </option>
                  <option value="7" name="7"> 7 </option>

                </select>


              </div>
              <div class="linea-ticket">
                <p>Preventa VIP Standing</p>
                <p class="precio-ticket-p">$ 18,500</p>
                <select class="caja-cantidad">
                  <option value="0" name="0"> 0 </option>
                  <option value="1" name="1"> 1 </option>
                  <option value="2" name="2"> 2 </option>
                  <option value="3" name="3"> 3 </option>
                  <option value="4" name="4"> 4 </option>
                  <option value="5" name="5"> 5 </option>
                  <option value="6" name="6"> 6 </option>
                  <option value="7" name="7"> 7 </option>

                </select>


              </div>
              <div class="linea-ticket">
                <p>Preventa VIP Standing</p>
                <p class="precio-ticket-p">$ 18,500</p>
                <select class="caja-cantidad">
                  <option value="0" name="0"> 0 </option>
                  <option value="1" name="1"> 1 </option>
                  <option value="2" name="2"> 2 </option>
                  <option value="3" name="3"> 3 </option>
                  <option value="4" name="4"> 4 </option>
                  <option value="5" name="5"> 5 </option>
                  <option value="6" name="6"> 6 </option>
                  <option value="7" name="7"> 7 </option>

                </select>


              </div>

            </div>
            
              <div class="comprar">
                <a href="carrito"><input type="submit" value="Comprar" class="boton-comprar"> </a>
              </div>
           


          </div>

          <div class="caja-imagen-evento">

            <img src="../img/amelie-lens-farrago-maderoboardwalk-160560-img.jpeg" alt="" class="imagen-evento">

          </div>

        </section>



      </article>



      </main>
      <footer>
        <%- include('../partials/footer') %>
      </footer>
</body>

</html>