<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main class="main-registro login-register">
        <section class="registro-form">
            <h2>Edición de eventos</h2>
            <form action="/products/<%= productoBuscado.id %>/editEvents?_method=PUT" method="POST">
                <input type="text" name="nombre" value="<%= productoBuscado.nombre %>">
                <input type="text" name="fecha" value="<%= productoBuscado.fecha %>">
                <input type="text" name="ubicacion" value="<%= productoBuscado.ubicacion %>">
                <div class="agregar-input-precio-evento">
                    <label for="">Tipo de entrada</label>
                    <input type="text" class="tipo-entrada-evento" name="tipoEntrada" placeholder="<%= productoBuscado.tipoEntrada %>">
                    <input type="number" name="precio" placeholder="$<%= productoBuscado.precio %>" class="precio-crear-evento">
                    <input type="number" placeholder="<%= productoBuscado.cantidadEntradas %>" name="cantidadEntradas" class="precio-crear-evento">
                    <button class="agregar-tipo-entrada">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <select name="categoria" id="" class="creacion-evento-categorias">
                    <option disabled selected><%= productoBuscado.categoria %></option>
                    <option>Deportes</option>
                    <option>Recital</option>
                    <option>Obra de teatro</option>
                    <option>Stand Up</option>
                    <option>Conferencia</option>
                </select>
                <div class="input-grupo-cargar-imagen-evento">
                    <label for="">Imagen del Evento</label>
                    <input type="hidden" name="originalImg" value="<%= productoBuscado.img %>">
                    <input type="file" name="img" class="seleccionar-imagen">
                    <input type="submit" value="Guardar cambios" class="enviar-evento">
                </div>
                <input type="hidden" name="eliminado" value="<%= productoBuscado.eliminado %>">
                <input type="hidden" name="agotado" value="<%= productoBuscado.agotado %>">
            </form>
            <form action="/products/<%= productoBuscado.id %>/editEvents?_method=DELETE" method="POST">
                <input type="submit" value="Eliminar">
            </form>
        </section>

    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>