<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main class="main-registro login-register">
        <section class="registro-form">
            <h2>Edición de eventos</h2>
            <form action="/products/<%= evento.id %>/edicionEventos?_method=PUT" method="POST">
                <input type="text" name="name" value="<%= evento.name %>">
                <input type="datetime-local" name="date" value="<%= evento.date %>">
                <input type="text" name="place" value="<%= evento.place %>">
                <div class="agregar-input-precio-evento">
                    <label for="">Tipo de entrada</label>
                    <input type="text" class="tipo-entrada-evento" name="categoria" placeholder="Tipo de entrada">
                    <input type="number" name="price" value="$<%= evento.price %>(Precio)" class="precio-crear-evento">
                    <button class="agregar-tipo-entrada">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <select name="" id="" class="creacion-evento-categorias">
                    <option disabled selected>Categoría</option>
                    <option value="Deportes" name="Deportes">Deportes</option>
                    <option value="Recitales" name="Recitales">Recital</option>
                    <option value="ObrasTeatro" name="ObrasTeatro">Obra de teatro</option>
                    <option value="StandUp" name="StandUp">Stand Up</option>
                    <option value="ConferenciasAcademicas" name="ConferenciasAcademicas">Conferencia</option>
                </select>
                <div class="input-grupo-cargar-imagen-evento">
                    <label for="">Imagen del Evento</label>
                    <input type="file" name="img" class="seleccionar-imagen">
                    <input type="submit" value="Guardar cambios" class="enviar-evento">
                </div>
            </form>
        </section>

    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>