<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles_productos.css" />
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <% include('../../utils/dateUtils') %>
    <article class="evento">

      <section class="caja-titulo-ubicacion">

        <div class="caja-titulo">

          <h2 class="titulo-evento">
            <%= product.name %>
              <%=product.location%>
          </h2>
          <h3 class="fecha-evento"><i class="fa-regular fa-calendar-days"></i>
            <%= formateDate(product.date) %>
          </h3>

          <div class="caja-descripcion-evento">
            <p>
              <%= product.description %>
            </p>
          </div>
          <!-- Si el usuario está logueado y ademas si el usuario es de tipo Creador y ademas si el usuario de tipo creador tiene un id que coincide con la foreign key de product (user_creator_id), es decir, que él creó el producto, entonces puede editarlo -->
          <% if (locals.isLogged && locals.user.user_type_id===2 && product.user_creator_id===locals.user.id) { %>
            <a href="/products/<%=product.id%>/editEvents">
              <button class="btn-editar-eventos">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </a>
            <% } %>

        </div>

        <div class="caja-ubicacion">
          <div class="descripcion-caja-ubicacion">
            <h3 class="titulo-ubicacion"><i class="fa-solid fa-location-dot"></i>
              <%=product.location%>
            </h3>
            <h4 class="descripcion-ubicacion">
              <%= product.addres %>
            </h4>
          </div>
        </div>
      </section>

      <section class="tickets-imagen">
        <div class="caja-tickets">
          <form class="form-caja" action="/products/cart" method="POST" id="formTickets">
            <!-- <form class="form-caja" action="/products/cart?id=<%#= product.id %>" method="POST"> -->
            <div class="titulos-tabla">
              <h4 class="ticket-titulo-tabla">Ticket</h4>
              <h4>Valor</h4>
              <h4>Cantidad</h4>
            </div>
            <div class="tickets">
              <% product.tickets.forEach((ticket, index)=> { %>
                <div class="linea-ticket">
                  <p><%= ticket.name %></p>
                  <p class="precio-ticket-p">$ <%= ticket.price %>
                  </p>
                  <% if(ticket.amount === 0) {%>
                    <p>Agotado</p>
                    <% } else {%>
                      <select class="caja-cantidad" name="ticketAmount_<%=index%>">
                        <% let ticketsToShow = 0; %>
                          <% ticket.amount > 10 ? ticketsToShow = 10 : ticketsToShow = ticket.amount %>
                            <% for (let i=0; i <= ticketsToShow ; i++) { %>
                              <option value="<%= i %>"><%= i %></option>
                              <% } %>
                                <% } %>
                      </select>
                      <input type="hidden" name="ticketName_<%=index%>" value="<%=ticket.name%>">
                      <input type="hidden" name="ticketPrice_<%=index%>" value=<%=ticket.price%>>
                      <input type="hidden" name="idTicket_<%=index%>" value=<%=ticket.id %>>
                </div>

                <% }); %>
            </div>
            <%if (error && typeof error !== 'undefined') { %>
              <p style="text-align: center; color: red;"><%= error %></p>
          <% } %>          
            <input type="hidden" name="idProduct" value=<%=product.id %>>
            <input type="button" value="Comprar" class="boton-comprar" onclick="submitForm()">
          </form>
        </div>



        </div>

        <div class="caja-imagen-evento">

          <img src="../<%= product.image %>" alt="" class="imagen-evento">

        </div>

      </section>



    </article>



    </main>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
    <!-- <script src="/js/localStorage.js"></script> -->
    <script>
      function submitForm(e){
        // e.preventDefault();
        const form = document.getElementById('formTickets');
        const amount = [...document.querySelectorAll('.caja-cantidad')];
        const allInfoAllTickets = [...document.querySelectorAll('.linea-ticket')]

        amount.forEach(el => {
          console.log(el.value);
        });

        let tickets = []

        allInfoAllTickets.forEach(el => {
          const amount = parseInt(el.children[2].value)

          if(amount > 0){

            const name = el.children[0].textContent;
            const price = el.children[1].textContent;

            const ticket = {
              name: name,
              price: price,
              amount: amount
            }

            tickets.push(ticket)
            console.log(tickets);
          } else {
            console.log('no es mayor a 0');
          } ;
        })
        // console.log(allInfoAllTickets);
      }
    </script>
</body>

</html>