<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <%- include('../partials/navBar') %>
        <% const texto = 'Los eventos del mes' %>
        <h2 style="text-align: center"><%= texto.toUpperCase() %></h2>
        <section class="products">
            <%- include('../partials/partialEventsFilterMonth') %>        

        </section>
        <%- include('../partials/partialEventsFilterCategory') %>   
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>